@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin : 0;
    padding: 0;
}

.start {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 75px calc(100vh - 130px) 55px;
    grid-template-areas: 
    "header"
    "reader"
    "footer"
}

.start .header {
    background-color: azure;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid black;
    box-shadow:160px teal;
}
.start .header .header-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.start .header .header-right .img-logo-ud {
    object-fit: contain;
    height: 100%;
}
.start .header .header-left{
    object-fit: contain;
    width: 50%;
    height: 100%;
}

.start .reader {
    background-color: rgb(132, 226, 132);
    display: flex;
    flex-direction: column;
}
.start .reader .credits{
    color: black;
    width: 100%;
    height: 15%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.start .reader .movies{
    color: black;
    width: 100%;
    height: 85%;
    background-color: rgb(151, 151, 224);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 1em;
}
.start .footer {
    background-color: azure;
    display: flex;
    border-top: 1px solid black;
}